@charset "UTF-8";
.filters, .checkbox-label, .footer-input::placeholder, .f-link, .clients-img .link-svg, .team-social .social-icon, .team-social, .work-descript, .feature-icon-div, .hero-div, .header .contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close, .f-link, .clients-img .link-svg, .team-social .social-icon, .feature-icon-div, .hero-bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contacts .item, .top-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
}

.work-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.work-descript p, .features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.body {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  color: #212121;
  background-color: #ffffff;
  outline: 1px solid #2196F3;
}
.menu-button:hover, .menu-button:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  text-align: center;
  font-size: 20px;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .menu-container.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
}

/* Навигация хедер */
.header {
  position: relative;
  background: #ffffff;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (max-width: 767px) {
  .header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .site-nav {
    align-items: center;
    justify-content: center;
  }
}

.container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.menu-container {
  text-align: center;
  font-size: 20px;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .menu-container.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Навигация хедер конец */
.logo-main {
  display: flex;
  padding: 15px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .logo-main {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo-main {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo-studio {
  color: #000000;
}

.nav-top {
  list-style: none;
  display: block;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .nav-top {
    display: flex;
    margin-bottom: 0;
    margin-left: 85px;
    margin-right: 84px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-top {
    margin-right: 300px;
    margin-left: auto;
  }
}

.nav-top .item + .item {
  margin-left: 50px;
}

.nav-top .current {
  position: relative;
  display: inline-block;
  padding-bottom: 28px;
  color: #2196F3;
}
.nav-top .current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border: none;
  border-radius: 2px;
  background-color: #2196F3;
  transform: scaleX(1);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-link {
  display: block;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.top-link:hover, .top-link:focus {
  color: #2196F3;
}
.top-link:hover::after, .top-link:focus::after {
  transform: scale(0.8);
}

.header .contacts {
  margin-left: 305px;
}

.contacts a {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts .item {
  display: inline-flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .item:hover, .contacts .item:focus {
  color: #2196F3;
}

.contacts .item + .item {
  margin-left: 30px;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Герой */
.hero-section {
  background: #2F303A;
  color: #FFFFFF;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-div {
  flex-direction: column;
}

.hero-bg {
  margin: 0 auto;
  max-width: 1600px;
  background-color: #2F303A;
}
@media screen and (max-width: 767px) {
  .hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/hero/heromobile.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/hero/heromobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/hero/herotablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/hero/herotablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/hero/herodesktop.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/hero/herodesktop@2x.jpg);
  }
}

.hero-section .hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-section .hero-title {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

/* Герой конец*/
.hero-section .hero-button {
  display: block;
  padding: 8px 30px;
  background-color: #188CE8;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}

/* Особенности */
.features h3 {
  text-align: center;
  color: #212121;
}
.features p {
  display: flex;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.feature-icon-div {
  margin: 30px 0;
  padding: 0;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border: none;
}

.feature-icon {
  display: block;
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    padding-left: 0;
    margin: 0;
  }
  .features-list .item + .item {
    margin-left: 30px;
  }
}
/* Особенности конец*/
/* Чем мы занимаемся */
.work {
  background-color: #ffffff;
  padding-top: 0px;
}
@media screen and (max-width: 767px) {
  .work {
    display: none;
  }
}

.work-h {
  margin: 0 0 50px 0;
  text-align: center;
}

.work-images {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.work-images .item + .item {
  margin-left: 30px;
}

.work-images li {
  list-style: none;
  position: relative;
}

.work-images .item {
  display: block;
  z-index: 2;
}

.work-descript {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: #2F303A;
  color: #FFFFFF;
  opacity: 80%;
}

.work-descript p {
  display: block;
  margin: 0;
  font-style: normal;
}

/* Чем мы занимаемся конец */
/* Наша команда */
.team {
  width: 480px;
  padding: 60px 15px;
  background: #F5F4FA;
}
.team .team-h {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
}
.team .item {
  width: 100%;
  margin: 30px 0;
}

.team-members .item {
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-members .item picture {
  display: block;
  margin-bottom: 30px;
}

.team-container {
  display: block;
}
.team-container h3 {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-container p {
  margin: 0 0 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Наша команда конец*/
/* Наша команда соцсети */
.team-social {
  margin: 0;
  padding: 0;
  color: #AFB1B8;
}
.team-social .link + .link {
  margin-left: 10px;
}
.team-social .link {
  list-style: none;
  display: flex;
  box-shadow: none;
}

.team-social {
  margin: 0;
  padding: 0;
  color: #AFB1B8;
}
.team-social .link {
  margin-bottom: 24px;
}
.team-social .social-icon {
  text-decoration: none;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social .social-icon:hover, .team-social .social-icon:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}
.team-social svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: currentColor;
}

/* Наша команда соцсети конец */
/* Постоянные клиенты */
.clients {
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.clients .clients-h {
  margin: 0 0 30px 0;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: #212121;
}

.clients-img {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients-img .item {
  width: calc((100% - 2*30px)/2);
  height: 90px;
  margin: 15px;
}
.clients-img .link-svg {
  text-decoration: none;
  height: 100%;
  text-align: center;
  color: #AFB1B8;
  background-color: #ffffff;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-img .link-svg:hover, .clients-img .link-svg:focus {
  color: #2196F3;
  border-color: #2196F3;
}
.clients-img .client-logo {
  fill: currentColor;
}

/* Постоянные клиенты конец */
/* Футер */
.footer {
  padding: 60px 0;
  background: #2F303A;
}
.footer .logo-footer {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #2196F3;
}
.footer .studio-footer {
  color: #FFFFFF;
}

.address-footer {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.address-footer a {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

/* Футер конец */
/* Соцсети Футер */
.social-links {
  display: block;
  text-align: center;
  margin: 60px 0;
}
.social-links p {
  margin: 0 0 20px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.smm-icons {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.smm-icons .item + .item {
  margin-left: 10px;
}

.f-link {
  width: 44px;
  height: 44px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.f-link:hover, .f-link:focus {
  background-color: #2196F3;
}

.footer-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: currentColor;
}

/* Subscribe Form */
.subscribe {
  display: block;
  text-align: center;
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe p {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-form {
  display: block;
}

.footer-input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 10px 28px 10px 29px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  scale: 1;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn .send-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: currentColor;
  margin-left: 10px;
}

/* Subscribe Form конец*/
/* модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  display: flex;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-close:hover, .modal-close:focus {
  color: #2196F3;
}

.close-icon {
  position: absolute;
  display: flex;
  top: 21%;
  left: 18%;
  width: 18px;
  height: 18px;
  fill: currentColor;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* модальное окно конец */
/* Форма модальное окно */
.form-div .form-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form input:focus, .modal-form textarea:focus {
  border: 1px solid #2196F3;
  cursor: pointer;
}
.modal-form input::placeholder {
  cursor: pointer;
}
.modal-form input:focus::placeholder {
  cursor: pointer;
}
.modal-form input:focus ~ svg {
  fill: #2196F3;
  cursor: pointer;
}

.form-field {
  position: relative;
  content: "";
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 12px 12px 12px 42px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}
.form-input:focus + .icon-form {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.icon-form {
  position: absolute;
  content: "";
  top: 50%;
  left: 12px;
  display: block;
  transform: translateY(-30%);
}

.icon-symbol {
  width: 18px;
  height: 18px;
}

.form-label-text {
  resize: none;
  outline: none;
  width: 100%;
  max-height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.form-label-text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01;
  color: #757575;
  opacity: 0.5;
}

.form-checkbox {
  /* display: flex;
  margin: auto; */
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement-link a {
  color: #2196F3;
}
.agreement-link a::after {
  position: absolute;
  right: 9px;
  bottom: 6px;
  z-index: 3;
  content: "";
  display: block;
  width: 29%;
  height: 1px;
  border: none;
  background-color: #2196F3;
}

.checkbox-label .checkbox-new::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border-radius: 2px;
  color: #212121;
  background-image: url(../../images/icons/checkbox.svg);
}
.checkbox-label .checkbox-input:checked + .checkbox-new::after {
  background-color: #2196F3;
  background-image: url(../../images/icons/checkmark.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 11px 8px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Форма модальное окно конец*/
.submit-form {
  position: absolute;
  bottom: 40px;
  left: 165px;
  width: 200px;
  height: 50px;
  /* padding: 10px 55px 10px 56px; */
  font-weight: 700;
  font-style: 20;
  line-height: 1.15;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  background-color: #2196F3;
}

.submit-form:hover,
.submit-form:focus {
  background-color: #188CE8;
}

/* Фильтры */
.filters {
  margin: 0 0 50px 0;
  padding: 0;
}
.filters .item + .item {
  margin-left: 8px;
}

.filters .item {
  list-style: none;
  display: inline-block;
}

.filters .filter {
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters .filter:hover, .filters .filter:focus {
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
}

/* Фильтры конец */
/* Проекты */
.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: left;
}

.products .item {
  display: flex;
  margin-bottom: 30px;
  margin-right: 30px;
  max-width: auto;
  background: #FFFFFF;
}

.products .item:nth-child(n+7) {
  margin-bottom: 0;
}

.products .item:nth-child(3n+3) {
  margin-right: 0;
}

.products .product-link {
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products .product-link:hover,
.products .product-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products img {
  display: block;
}

.products .product-card {
  box-sizing: border-box;
  display: block;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #EEEEEE;
}

.products h3 {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.products p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}

.product-link:hover .product-overlay,
.product-link:focus .product-overlay {
  transform: translateY(0);
  opacity: 1;
}

.product-thumb:hover::before,
.product-thumb:focus::before {
  opacity: 1;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: #2196F3;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-overlay p {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
}

/* Проекты конец *//*# sourceMappingURL=main.css.map */