@import "./utils/variables";
@import "./utils/media";
@import "./utils/placeholders";

@import "./base/normalize";
@import "./base/base";

@import "./components/menu-button";
@import "./components/menu-container";
@import "./components/header";
@import "./components/logo-header";
@import "./components/header-nav";
@import "./components/header-contacts";

@import "./components/hero";
@import "./components/hero-button";

@import "./components/features";

@import "./components/works";

@import "./components/team";
@import "./components/team-social-links";

@import "./components/clients";

@import "./components/footer";
@import "./components/logo-footer";
@import "./components/footer-address";
@import "./components/footer-socials";
@import "./components/footer-form";

@import "./components/modal";
@import "./components/modal-form";
@import "./components/modal-submit";

@import "./components/portfolio-filters";
@import "./components/portfolio-projects";