/* Особенности */
.features-list {
    display: flex;
    padding-left: 0;    
    margin: 0;
    
    & .item + .item {
        margin-left: 30px;
    }
}
.features li {
    list-style: none;
    max-width: 270px;
}
.features h3 {
    margin: 30px 0 10px 0;
    @extend %h3Titles;
        
    color: $primary-text-color;
}
.features p {
    display: flex;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.786;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}
.feature-icon-div {
    @extend %centeredFlex;
    padding: 0;
    width: 270px;
    height: 120px;

    background-color: $inactive-filter-color;
    @extend %bgCommon;

    border: none;
}
.feature-icon {
    display: block;
    width: 70px;
    height: 70px;
}
/* Особенности конец*/