/* Навигация хедер */
.header {
    @extend %centeredFlex;

    background: $primary-background-color;
    border-bottom: 1px solid $header-border;
}
// .header-div {
//     display: flex;
// }
.container {
    width: $mob;

    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: $tab) {
        min-width: $tab;
    }

    @media screen and (min-width: $desktop) {
        min-width: $desktop;
    }
}
/* Навигация хедер конец */