.hero-section .hero-button {
    display: block;
    padding: 8px 30px;
    background-color: $button-bg-color;
    border: none;
    box-shadow: 0 4px 4px $button-shadow;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;
    color: $light-color;
    cursor: pointer;
}