.logo-main {
    margin-right: 93px;
    font-family: $logo-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $accent-color;
}
.logo-studio {
    color: $dark-color;
}