/* Фильтры */
.filters {
    @extend %centeredFlex;
    margin: 0 0 50px 0;
    padding: 0;

    & .item + .item {
        margin-left: 8px;
    }
}
.filters .item {
    list-style: none;
    display: inline-block;
}
.filters .filter {
    padding: 6px 22px 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    background-color: $inactive-filter-color;
    border: none;
    border-radius: 4px;
    box-shadow: none;

    transition: color $duration-time $timing-func, background-color $duration-time $timing-func, box-shadow $duration-time $timing-func;

    &:hover,
    &:focus {
        color: $light-color;
        background: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border: none;
        border-radius: 4px;
    }
}
/* Фильтры конец */