$primary-text-color:#212121;
$secondary-text-color:#757575;

$light-color: #FFFFFF;
$accent-color: #2196F3;
$dark-color: #000000;

$primary-background-color: #ffffff;
$secondary-background-color: #2F303A;

$inactive-filter-color: #F5F4FA;
$header-border: #ECECEC;
$product-card-border: #EEEEEE;

$button-shadow: rgba(0, 0, 0, 0.15);
$footer-input-color: rgba(255, 255, 255, 0.6);
$button-bg-color: #188CE8;
$icon-primary: #AFB1B8;

$logo-font: Raleway, sans-serif;
$main-font: Roboto, sans-serif;

$timing-func: cubic-bezier(0.4, 0, 0.2, 1);
$duration-time: 250ms;